version: '3.8'

services:
  api:
    environment:
      - spring.redis.host=redis
    build:
      context: ./api
      dockerfile: api
    ports:
      - "87:89"
    depends_on:
      - redis
    volumes:
      - /Users/egorbarkovsky/DEV/java/imagesss:/home/files/uploads/
      - /Users/egorbarkovsky/DEV/java/imagesss/new:/home/files/uploads/new/
  processor:
    environment:
      - spring.redis.host=redis
    build:
      context: ./processor
      dockerfile: processor
    depends_on:
      - redis
      - api
    volumes:
      - /Users/egorbarkovsky/DEV/java/imagesss:/home/files/uploads/
      - /Users/egorbarkovsky/DEV/java/imagesss/new:/home/files/uploads/new/
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
